#Part d) -NYC TaxiFare price Prediction using XG boost Model

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import folium
from folium import plugins
import tensorflow as tf
import requests
from io import BytesIO
import tensorflow.keras as keras
print(tf.__version__)
import xgboost as xgb

from sklearn.model_selection import train_test_split

2.4.1

LOADING PREPROCESSED DATA FROM PART-A

In [2]:
r = requests.get('https://docs.google.com/spreadsheets/d/e/2PACX-1vQTEKkXqgTzdkc1X6HGorLIz73LrMqMd3QE1MrrbzIRKCY0no68p2ubg6e-bplKVfq4frtkjtcnLTY_/pub?gid=64899473&single=true&output=csv')
file = r.content

df = pd.read_csv(BytesIO(file))

In [3]:
df.head()

   fare_amount  pickup_longitude  ...  pickup_month  distance
0          4.5        -73.844311  ...             6  0.943584
1         16.9        -74.016048  ...             1  7.969567
2          5.7        -73.982738  ...             8  1.367404
3          7.7        -73.987130  ...             4  2.534047
4          5.3        -73.968095  ...             3  1.946952

[5 rows x 10 columns]

DEFINING PARAMETERS FOR XG BOOST

In [4]:
params = {
   
    'max_depth': 7,
    'gamma' :0,
    'eta':.05, 
    'subsample': 1,
    'colsample_bytree': 1.0, 
    'objective':'reg:linear',
    'eval_metric':'rmse',
    'silent': 0
}

In [5]:
#setting X and (features and label for dataset)
X=df.drop(columns=['fare_amount'])
Y=df['fare_amount']

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.20, random_state=42,shuffle=True ) 
X_train.head()

       pickup_longitude  pickup_latitude  ...  pickup_month  distance
2420         -73.976727        40.765018  ...             3  1.138944
729          -73.926383        40.808057  ...             7  1.078780
8253         -73.988640        40.748565  ...            12  4.585751
14208        -73.959452        40.781993  ...            12  1.633037
6167         -73.982122        40.778511  ...             6  1.572042

[5 rows x 9 columns]

In [7]:
X_train.shape
y_train.shape
X_test.shape
y_test.shape

(2991,)

In [8]:
def XGBoost_model(X_train,X_test,y_train,y_test,params):
    matrix_train = xgb.DMatrix(X_train,label=y_train)
    matrix_test = xgb.DMatrix(X_test,label=y_test)
    model=xgb.train(params=params,
                    dtrain=matrix_train,num_boost_round=2000, 
                    early_stopping_rounds=15,evals=[(matrix_test,'test')])
    return model

model = XGBoost_model(X_train,X_test,y_train,y_test,params)

[20:18:51] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[0]	test-rmse:13.5327
Will train until test-rmse hasn't improved in 15 rounds.
[1]	test-rmse:12.9382
[2]	test-rmse:12.3798
[3]	test-rmse:11.8498
[4]	test-rmse:11.3533
[5]	test-rmse:10.8825
[6]	test-rmse:10.4354
[7]	test-rmse:10.0181
[8]	test-rmse:9.62383
[9]	test-rmse:9.25296
[10]	test-rmse:8.90548
[11]	test-rmse:8.57406
[12]	test-rmse:8.26992
[13]	test-rmse:7.98115
[14]	test-rmse:7.71224
[15]	test-rmse:7.45894
[16]	test-rmse:7.22305
[17]	test-rmse:7.001
[18]	test-rmse:6.79366
[19]	test-rmse:6.6048
[20]	test-rmse:6.42986
[21]	test-rmse:6.26111
[22]	test-rmse:6.11222
[23]	test-rmse:5.96606
[24]	test-rmse:5.83001
[25]	test-rmse:5.70746
[26]	test-rmse:5.59252
[27]	test-rmse:5.49286
[28]	test-rmse:5.3944
[29]	test-rmse:5.30839
[30]	test-rmse:5.22957
[31]	test-rmse:5.15359
[32]	test-rmse:5.08464
[33]	test-rmse:5.02032
[34]	test-rmse:4.96031
[35]	test-rmse:4.8991
[36]	test-rmse:4.84508
[37]	test-rmse:4.79793
[38]	test-rmse:4.75615
[39]	test-rmse:4.71282
[40]	test-rmse:4.6721
[41]	test-rmse:4.63906
[42]	test-rmse:4.60642
[43]	test-rmse:4.58079
[44]	test-rmse:4.55821
[45]	test-rmse:4.53366
[46]	test-rmse:4.51268
[47]	test-rmse:4.49519
[48]	test-rmse:4.48071
[49]	test-rmse:4.46582
[50]	test-rmse:4.453
[51]	test-rmse:4.43895
[52]	test-rmse:4.4299
[53]	test-rmse:4.42112
[54]	test-rmse:4.41294
[55]	test-rmse:4.40476
[56]	test-rmse:4.39609
[57]	test-rmse:4.38958
[58]	test-rmse:4.38479
[59]	test-rmse:4.381
[60]	test-rmse:4.37928
[61]	test-rmse:4.37583
[62]	test-rmse:4.37343
[63]	test-rmse:4.37132
[64]	test-rmse:4.36927
[65]	test-rmse:4.36652
[66]	test-rmse:4.36513
[67]	test-rmse:4.36104
[68]	test-rmse:4.35707
[69]	test-rmse:4.35528
[70]	test-rmse:4.35525
[71]	test-rmse:4.35614
[72]	test-rmse:4.35504
[73]	test-rmse:4.35461
[74]	test-rmse:4.35349
[75]	test-rmse:4.35434
[76]	test-rmse:4.35131
[77]	test-rmse:4.35135
[78]	test-rmse:4.35013
[79]	test-rmse:4.35065
[80]	test-rmse:4.3493
[81]	test-rmse:4.34878
[82]	test-rmse:4.34667
[83]	test-rmse:4.34213
[84]	test-rmse:4.34245
[85]	test-rmse:4.34128
[86]	test-rmse:4.34093
[87]	test-rmse:4.33925
[88]	test-rmse:4.33885
[89]	test-rmse:4.33741
[90]	test-rmse:4.33605
[91]	test-rmse:4.33567
[92]	test-rmse:4.33498
[93]	test-rmse:4.33466
[94]	test-rmse:4.33431
[95]	test-rmse:4.33262
[96]	test-rmse:4.33325
[97]	test-rmse:4.33148
[98]	test-rmse:4.33009
[99]	test-rmse:4.3296
[100]	test-rmse:4.32891
[101]	test-rmse:4.32833
[102]	test-rmse:4.32918
[103]	test-rmse:4.32886
[104]	test-rmse:4.32784
[105]	test-rmse:4.329
[106]	test-rmse:4.32707
[107]	test-rmse:4.32613
[108]	test-rmse:4.32676
[109]	test-rmse:4.32445
[110]	test-rmse:4.3239
[111]	test-rmse:4.322
[112]	test-rmse:4.32323
[113]	test-rmse:4.3224
[114]	test-rmse:4.32565
[115]	test-rmse:4.32464
[116]	test-rmse:4.32302
[117]	test-rmse:4.32294
[118]	test-rmse:4.3228
[119]	test-rmse:4.32338
[120]	test-rmse:4.32152
[121]	test-rmse:4.3204
[122]	test-rmse:4.31833
[123]	test-rmse:4.31813
[124]	test-rmse:4.31733
[125]	test-rmse:4.31783
[126]	test-rmse:4.318
[127]	test-rmse:4.31719
[128]	test-rmse:4.31635
[129]	test-rmse:4.31619
[130]	test-rmse:4.31718
[131]	test-rmse:4.31692
[132]	test-rmse:4.31644
[133]	test-rmse:4.31792
[134]	test-rmse:4.31671
[135]	test-rmse:4.3157
[136]	test-rmse:4.31614
[137]	test-rmse:4.31591
[138]	test-rmse:4.31539
[139]	test-rmse:4.31576
[140]	test-rmse:4.3157
[141]	test-rmse:4.31552
[142]	test-rmse:4.31443
[143]	test-rmse:4.31508
[144]	test-rmse:4.31485
[145]	test-rmse:4.31513
[146]	test-rmse:4.31483
[147]	test-rmse:4.31471
[148]	test-rmse:4.31459
[149]	test-rmse:4.31467
[150]	test-rmse:4.31442
[151]	test-rmse:4.31425
[152]	test-rmse:4.31418
[153]	test-rmse:4.31521
[154]	test-rmse:4.31387
[155]	test-rmse:4.31405
[156]	test-rmse:4.31393
[157]	test-rmse:4.3138
[158]	test-rmse:4.31375
[159]	test-rmse:4.31516
[160]	test-rmse:4.31621
[161]	test-rmse:4.31632
[162]	test-rmse:4.3165
[163]	test-rmse:4.31618
[164]	test-rmse:4.31541
[165]	test-rmse:4.31524
[166]	test-rmse:4.31545
[167]	test-rmse:4.31607
[168]	test-rmse:4.3151
[169]	test-rmse:4.31533
[170]	test-rmse:4.31442
[171]	test-rmse:4.31596
[172]	test-rmse:4.31821
[173]	test-rmse:4.31855
Stopping. Best iteration:
[158]	test-rmse:4.31375